body{
    background-color:skyblue;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    margin: 20px 20px;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 20px 20px;
}
p{
    background-color: white;
    color:slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border:0px;
}
a{
    text-decoration: none;
    color: navy;
}
a:hover{
    color: tomato;
}
a:active{
    color:navy;
}
.key-info{
    background-color: white;
    padding: 5px
}
.key-info h2{
    color: white;
    background-color: skyblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.key-info h3{
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 20px;
}
.key-info ul{
    color:slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    list-style: square;
}
.key-info ol{
    color:slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;

}
